body, html {
  overflow:hidden;
  height:1000px;
}

@media (min-width: 0px){
  #left {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
  }
  
  #right {
    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
  }
}

#left {
  height:1000px;
}

#right {
  height:1000px;
}